{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Address</th>
                <th scope="col">Created At</th>
                <th scope="col">Id</th>
              </tr>
            </thead>
            <tbody>
                {% if records %}
                    {% for record in records %}
                        <tr>
                            <td>{{ record.first_name }} {{ record.last_name }}</td> 
                            <td>{{ record.email }}</td>
                            <td>{{ record.ph_no }}</td>
                            <td>{{ record.address }}</td>
                            <td>{{ record.created_at }}</td>
                            <td>
                                <a href="{% url 'record' record.id %}"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #07a677;"></i></a>
                            </td>
                            
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    {% else %}
        <div class="col-md-6 offset-ms-3">
            <h1>LOGIN</h1>
            <br/>
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="mb-3">                    
                <input type="text" class="form-control" name="user_name" placeholder="User Name" required>
                </div>
                <div class="mb-3">                  
                <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary">LOGIN</button>
                <div id="emailHelp" class="form-text">Demo Account: User Name - Demo, Password - Demo@123.</div>
            </form>
        </div>
    {% endif %}

{% endblock %}